main {
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: space-between;
  gap: 1.5rem;
  padding-block: 24px;
}
main img {
  width: 20vw;
  height: 20vw;
  min-width: 10rem;
  min-height: 10rem;
  object-fit: cover;
}